/* Reset de estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Estilização do menu de navegação */
.menu ul {
    list-style: none;
    padding: 33px;
    margin: 0;
    margin-left: 53px;
    display: flex;
    justify-content: center; /* Espaço entre os menus */
}

.menu-esquerdo li,
.menu-direito li {
    display: inline;
    margin-right: 60px; /* Espaçamento entre os itens do menu */
}

.menu-esquerdo a,
.menu-direito a {
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s; /* Transição de cor suave ao passar o mouse */
    padding: 10px 20px; /* Espaçamento interno para criar botões */
    border: 2px solid #39808b; /* Borda para criar botões */
    border-radius: 5px; /* Cantos arredondados para criar botões */
    color: #333; /* Cor do texto do link */
    background-color: #39808b;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

.menu-esquerdo a:hover,
.menu-direito a:hover {
    color: white; /* Cor do texto do link ao passar o mouse */
}

/* Estilização dos botões "Ver no YouTube" */
.video a {
    display: inline-block;
    font-weight: bold;
    background-color: #39808b;
    color:white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-top: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 2);
    
}

.video a:hover {
    background-color: #555;
}

header h1 {
    font-size: 36px;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}

.video-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.video {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    flex-basis: calc(50% - 20px);
    
}

.video img {
    max-width: 100%;
    height: auto;
}

.video h2 {
    font-size: 24px;
    margin: 10px 0;
}

.video p {
    color: #777;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
